$padding-price:10px;

.stocks{
  display: flex;
}

.stockContainer a,.stockContainer a:hover{
  color: inherit;
  padding: 0 10px;
  text-decoration: none;
}

.stock-card{
  &:hover{
    transform: scale(1.2);
  }
  transition: all .5s;
  height: 130px;
  border-radius: $border-radius;
  box-shadow: 3px 4px 15px 4px #b8b8b8;
  margin: 10px 0;
  position: relative;
}

.stock-card .size,.stock .price{
  position: absolute;
  bottom: 0;
}

.stock-card .size{
  left: $padding-price;
}

.stock-card .price{
  right: $padding-price;
}